*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(29, 29, 29);
}

$borderColor: rgb(90, 90, 90);
$buttonColor: rgb(0, 132, 255);

// NAVBAR // // NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //
// NAVBAR // // NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //
// NAVBAR // // NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //
.navbar {
  grid-area: n;
  background-color: #2d3039;
  color: white;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  ul {
    margin-left: 150px;
    grid-column: 4;
    margin-top: auto;
    margin-bottom: auto;
    list-style: none;
    li {
      color: white;
      display: inline;
      padding: 20px;
    }
  }
  svg {
    stroke-dashoffset: 1000;
    animation: draw 7s linear infinite alternate 1s;
    // stroke: #6d77ff;
    stroke: white;
    stroke-width: 1px;
    path {
    }
  }
  h2 {
    margin: auto;
    // margin-top: auto;
    // margin-bottom: auto;
    color: white;
    grid-column: 2/4;
  }
}

@keyframes draw {
  0% {
    stroke-dasharray: 1000;

    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    fill: white;
  }
}

.logo {
  background-color: #113b92;
  width: 250px;
  height: 60px;
}

//GRID MAIN//GRID MAIN//GRID MAIN//GRID MAIN//GRID MAIN//GRID MAIN//GRID MAIN//GRID MAIN
//GRID MAIN//GRID MAIN//GRID MAIN//GRID MAIN//GRID MAIN//GRID MAIN//GRID MAIN//GRID MAIN
//GRID MAIN//GRID MAIN//GRID MAIN//GRID MAIN//GRID MAIN//GRID MAIN//GRID MAIN//GRID MAIN

.main {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 60px 70vh 20vh;
  grid-template-areas:
    " n n n"
    " al c ar"
    " ab ab ab";
}

.content {
  grid-area: c;
  // border: solid blue;
  width: 100%;
  height: 100%;
  overflow: auto;
}

// FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM
// FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM
// FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM

.simpleForm {
}

.fullForm {
}

.forms {
  // border: solid red;
  height: 100%;
  overflow: auto;
  button {
    margin-top: 20px;
    background-color: $buttonColor;
    padding: 6px;
    border-radius: 5px;
  }
}

.formSwitch {
  margin: 10px;
  label {
    // margin-right: 0px;
  }
  input {
    margin-right: 20px;
  }
}

.tripForm {
  position: relative;
  // border: solid purple;
  // width: 100%;
  // height: 100%;
  display: flex;
  justify-content: center;
  line-height: 25px;

  form {
    width: 100%;
    padding: 2px;
  }

  select {
    width: 100%;
  }

  input {
    margin-right: 5px;
  }
  label {
    margin-right: 8px;
  }
}

label.nightLabel {
  margin-right: 29px;
}

.formTime {
  margin-left: 10px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  form {
    position: relative;
    display: flex;
    align-items: center;
  }

  label {
    display: block;

    margin-left: 5px;
  }
  input {
    display: block;
    margin: 0 auto;
    margin-left: 5px;
  }
}

.busInput {
  margin-left: 10px;
  input {
    width: 20px;
    height: 20px;
  }
}

.routes {
  // border: solid purple;
}

.resultsSummary {
  div {
    margin-right: 5px;
  }
  display: flex;
  div:nth-child(0) {
  }
  div:nth-child(even) {
    width: 70px;
  }
}

//RESULTS //RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS
//RESULTS //RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS
//RESULTS //RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS

.results {
  caption {
    text-align: center;
  }
  h1 {
    text-align: center;
  }
  h3 {
    text-align: center;
    border-top: solid $borderColor;
    border-bottom: solid $borderColor;
    padding: 5px;
  }

  position: relative;
  // border: solid red;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.resultsHead {
  width: 100%;
  height: 10%;
  background-color: #2366eba4;
  border-radius: 5px;
}
.resultsTables {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 55%;
  h4 {
    padding: 5px;
  }
}

.leftTableContainer {
  position: relative;

  // top: 50%;
  // left: 50%;
  // transform: translate (-50%, -50%);
  table {
    border-spacing: 20px 6px;
    text-align: justify;
  }
}

.rightTableContainer {
  position: relative;
  table {
    margin-left: 40px;
    border-spacing: 20px 6px;
    position: relative;
  }
}

.resultsButtons {
  left: 0px;
  // border: solid purple;
  position: relative;
  height: fit-content;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  button {
    padding: 10px;
    border-radius: 5px;
    margin-right: 40px;
    margin-left: 10px;
    background-color: $buttonColor;
  }
}

.dayResults {
  // margin-left: 25vw;
  // margin-right: 0 auto;
}

.resultsSep {
  position: absolute;
  height: 40%;
  width: 1px;

  background-color: $borderColor;
}

// LOADING // // LOADING //// LOADING //// LOADING //// LOADING //// LOADING //// LOADING //// LOADING //// LOADING //// LOADING //
// LOADING // // LOADING //// LOADING //// LOADING //// LOADING //// LOADING //// LOADING //// LOADING //// LOADING //// LOADING //
// LOADING // // LOADING //// LOADING //// LOADING //// LOADING //// LOADING //// LOADING //// LOADING //// LOADING //// LOADING //

.loading {
  border: solid yellow;
  // width: 100%;
  height: 100%;
  // overflow: hidden;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

// ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS
// ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS
// ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS

.ads {
  border: solid red;
  width: 10vw;
  height: 100vh;
}

.adsL {
  grid-area: al;

  img {
    position: relative;
    width: 80%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.adsR {
  grid-area: ar;
  // border: solid green;
  img {
    position: relative;
    width: 80%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.adsB {
  grid-area: ab;
  // border: solid green;
  img {
    position: relative;
    width: 90%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// ABOUT // ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT
// ABOUT // ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT
// ABOUT // ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT
