*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// NAVBAR // // NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //
// NAVBAR // // NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //
// NAVBAR // // NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //// NAVBAR //

.navbar {
  background-color: #2d3039;
  color: white;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  ul {
    margin-left: 150px;
    grid-column: 4;
    margin-top: auto;
    margin-bottom: auto;
    list-style: none;
    li {
      display: inline;
      padding: 20px;
    }
  }
  svg {
    path {
      stroke: #6d77ff;
      stroke-width: 1px;
    }
  }
}

.logo {
  background-color: #113b92;
  width: 250px;
}

// FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM
// FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM
// FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM // FORM

.results {
  position: relative;
  border: solid red;
  width: 20vw;
  height: 40vh;
}

.resultsLeft {
  position: relative;
  float: left;
}

.resultsRight {
  float: right;
}

.simpleForm {
}

.fullForm {
}

.form {
  border: solid red;
}

//RESULTS //RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS
//RESULTS //RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS
//RESULTS //RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS//RESULTS

// ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS
// ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS
// ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS // ADS

.ads {
  border: solid red;
  width: 10vw;
  height: 100vh;
}

// ABOUT // ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT
// ABOUT // ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT
// ABOUT // ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT// ABOUT
